<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rps.anish98821" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Rock - Paper - Scissors!</name>
    <description>
        A simple rock paper scissors app!
    </description>
    <icon src = 'logo.png'/>
    <author email="anish98821@hotmail.com" href="anish98821@hotmail.com">
        Anish U
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
